<ion-header>
  <ion-toolbar class="title-with-button">
    <ion-title>
      Employees
    </ion-title>
    <ion-button href="/create-employee" shape="round" color="primary" fill="clear">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-card *ngFor="let employee of employees">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-card-title color="primary">{{ employee.name }}</ion-card-title>
    </ion-item>

    <ion-item>
      <ion-icon color="secondary" name="mail" slot="start"></ion-icon>
      <ion-text color="secondary">{{ employee.email }}</ion-text>
    </ion-item>

    <ion-card-content>
      <ion-button angular-rave [raveOptions]="generateRaveOptions(employee)" (close)="paymentFailure()" (callback)="paymentSuccess($event)"
        class="pay-button" shape="round" slot="end">Pay</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>