<ion-header>
  <ion-toolbar class="title-with-button">
    <ion-title>
      Products
    </ion-title>
    <ion-button href="/create-payment" shape="round" color="primary" fill="clear">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content>