<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="form-container">
    <h1>
      <ion-text color="primary">CREATE AN ACCOUNT</ion-text>
    </h1>
    <ion-item>
      <ion-label color="primary" position="floating">Username</ion-label>
      <ion-input type="text" color="primary" minlength="5" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="email" color="primary" minlength="5" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Pasword</ion-label>
      <ion-input type="password" color="primary" minlength="5" required></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button shape="round" href='/auth' color="primary" fill="outline">Sign Up</ion-button>
    </div>
  </div>
</ion-content>