<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Products" icon="information-circle" href="/tabs/(products:products)">
    <ion-router-outlet name="products"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Employees" icon="people" href="/tabs/(employees:employees)">
    <ion-router-outlet name="employees"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Settings" icon="cog" href="/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
